body {
  padding: 0;
  margin: 0;
  background-color: rgb(5, 5, 54);
}

#clearButton {
  margin: 0 auto;
  display: block;
  padding: 10px;
}

#container {
  display: grid;
  height: 800px;
  width: 800px;
  margin: 0 auto;
}

.gridDiv {
  width: auto;
}